# Ignore .env file
.env
**/.env
**/.env.*
!.env.sample # DON'T ignore the .env.sample file

# Ignore temporary files
*.tmp
*.bak
*.swp

# Ignore runtime directories
/config
**/config/
/media
**/media/

# Ignore logs
logs/
*.log

# Ignore node_modules
node_modules/

# Ignore IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-
*.code-workspace

# Ignore acme.json certificates file
acme.json
**/acme.json
